@charset "utf-8";
.loading {
	display: none;
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top:0;
	left: 0;
	z-index: 20;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.loader{
	background: url("../img/loading.gif") center no-repeat;
	display: block;
	float: none; 
	position: relative; 
	top: 50%; left:50%;
	width:40px;
	height:40px;
}
#appointments table{
	max-width:100%;
	width:100%;
}
#appointments a{
	text-decoration: none;	
}
#appointments table th{
	text-align: left;
}

#appointments table td, #appointments table th{
	padding:2px 5px;
}

#appointments table .even {
	background-color: #FFF;
}
#appointments table .uneven {
	background-color: #E5E5E5;
}
#appointments table thead {
	border-bottom: 1px solid black;
}
#displaymessage{
	color: #FF0000;
	display: none;
}